<section class="channel-h5">
    <div class="channel-h5__header">
        <p class="channel-h5__title">
            女生最爱
        </p>
    </div>
    <div>
        <div>
            <ul class="list-h5">
                <!--带图片的部分--> 
                <li v-for="item in female">
                    <div class="book-h5">
                        <div class="book-h5__cover">
                            <img v-bind:src="item.cover" title="{{item.title}}">
                            <p class="book-h5__finish">完结</p>
                        </div>
                        <div class="book-h5__info">
                            <p class="book-h5__title">{{item.title}}</p>
                            <p class="book-h5__author">{{item.authors}}</p>
                            <p class="book-h5__summary">{{item.summary}}</p>
                            <div class="book-h5__wrap"><!--为了控制排版-->
                                <div class="book-h5__tag" v-for="tag in item.tags">{{tag}}</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--底部footer-->
        <div class="channel-h5__footer_next">
            <a href="javascript:">换一换</a>
            <a href="/male">女生频道</a>
        </div>
    </div>
</section>